* { 
    font-family: 'Gill Sans';
    font-size: 10px;
    margin-left: 0; 
    
}

.intro, .project, .year{
    margin:auto;
    width: 100%;
    margin-right: 10rem;
} 
.intro h1{
    font-family: 'Gill Sans';
    font-size: 5rem;
    font-weight: 600;
    text-align: right;
    margin-right: 10rem;
    color: #638d85;
    text-shadow: 1px 1px black;
    padding-top: 10px;

}
.project h2{
    font-size: 3rem;
    text-align: right;
    margin-right: 15rem;
    margin-top: -3rem;  
    color: #c2bf9d;
    text-shadow: 1px 1px black;
}
.year h2{
    padding-top: 10px;
    font-size: 5rem;
    color:#a9bfc2;
    text-shadow: 2px 2px white;
    
}
header {
    position: relative;
    max-height: 40%;
    width: 100%;
    background: url(/img/seascape.png) center no-repeat;
    background-size: 100%;
    color: #638d85;
    margin-top: -3.5rem;
}

header img{
    position: relative;
    margin-left: 0;
    margin-top: -21rem;
    height: 300px;
   
}
header img:hover{
    opacity: 0.75;
}
main{
    font-family: 'Gill Sans';
    background-color: #c2bf9d;
    height: 100%;
    width:auto;
    margin-top: -3.5rem;
}
main p{
    font-size: 2rem;
    color: white;
    font-family: 'Gill Sans';
    padding-top: 50px;
    text-align: center;
    opacity: 0.75;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
