* { 
    font-family: 'Helvetica';
    font-size: 10px;
    margin-left: 0; 
    
}
h1,h2 {
    font-family: 'Helvetica';
    padding-top: 0px;
}
.intro {
    margin:auto;
    margin-left: -1rem;
    width: 1170px;
    text-align: left;
    padding-right: 4rem;
    padding-left: 2rem;
    padding-top: 20px;
}
.intro h1{
    font-family: 'Gill Sans';
    font-size: 5rem;
    font-weight: 600;
    color: black;
}
.project h2{
    font-size: 3rem;
    margin-bottom:-.5rem;
    max-width: 300px;
    margin-top: -1.5rem;  
    margin-left: 2rem;
}
.year h2{
    text-align: right;
    max-width: 200px;
    padding-top: 5px;
    font-size: 6rem;
    color: black;
}
header {
    height: 350px;
    width: 100%;
    background: url(/img/seascape.png) center no-repeat;
    background-size: 100%;
    color: black;
    margin-top: -2.5rem;
}
.overlay img{
    position: relative;
    margin-top:-27rem;
    margin-left: 95rem;
    height: 326px;
    transition: height;
    transition-duration: .5s;
    
}
.overlay img:hover{
    height: 350px;
 

}
main{
    background-color: black;
    height: 1300px;
    margin-top: -3.5rem;
    color: white;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
